$c-primary: #0d326e;
$c-secondary: #afd5ef;
$c-tertiary: #69B0E1;
$c-quaternary: #42b883;
$c-white: #fff;
$c-black: #000;
$c-bg: #f5f5f5;
$c-warn: #c32424;

html {
  font-size: 16px;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  background-color: $c-primary;
  font-family: "system", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.summary {

  &__title {
    margin-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__email {
    margin-bottom: 10px;
    font-size: 0.8rem;
  }

  &__query {
    padding-top: 10px;
    border-top: 1px solid $c-primary;
  }

  &__count {
    font-style: italic;
    font-size: 0.8rem;
  }

  &__list {
    margin-bottom: -10px;
    padding-left: 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding: 15px 10px;
    margin-bottom: 10px;
    background-color: $c-secondary;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    list-style: none;
  }

  &__contents {
    display: flex;
    flex-direction: column;
  }

  &__delete {
    margin-left: auto;
  }

}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: -20px;
}

.button {
  margin-right: 20px;
  padding: 10px 15px;
  border: 0;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;

  &--primary {
    background-color: $c-quaternary;
  }

  &--secondary {
    background-color: $c-warn;
    color: $c-white;
  }

  &--sm {
    margin-right: 0;
    padding: 5px 8px;
  }

  &:disabled {
    background-color: grey;
    color: lighten($c-black, 40);
    cursor: not-allowed;
  }

}

.card {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 30px 20px;
  background-color: $c-bg;
  color: $c-black;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-container {
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  will-change: transform;
  transform: translateY(20px);
  transition: all 0.5s;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -20px;

  .button {
    margin-left: auto;
  }

}

.input {
  align-self: flex-start;
  width: calc(50% - 40px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 0;
  font-size: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &--textarea {
    min-height: 14px;
    resize: vertical;
  }

}

.error-list {
  list-style: none;
  padding-left: 0;
}

.text {

  &--error {
    color: $c-warn;
  }

}

.fade-up-enter,
.fade-up-enter-done {
  opacity: 1;
  visibility: visible;
  transform: none;
}
